body {
  margin: 10px;
}

p {
  color: blue;
}

/* ID css selector */
#products {
  padding: 10px;
}

/* Class CSS selector */
.product {
  color: blue;
}

/* Attribute css selector
a[target="_blank"] {
  color:orange;
}
*/

/* Attribute css selector with contains */
/* a[href *="google"]{
  color: orange;
  font-size: 20px;
} */

/* Attribute css selector with starts with */
/* a[href ^="https"]{
  color: orange;
  font-size: 20px;
} */

/* Attribute css selector with ends with */
/* a[href $=".com"]{
  color: orange;
  font-size: 20px;
} */

/* Multiple attribute selectors */
a[target="_blank"][href *="google"]{
  color: orange;
  font-size: 20px;
}

/* all the direct descendent selector */
#product p {
  color: tomato;
}

/* only the direct descents */
#course > p {
  color: red;
}

/* Only the immediate sibling*/
#course + p {
  color: pink;
}
/* all general siblings */
#course ~ p {
  color:gold;
}

article :first-child {
  font-size: 140%;
  font-style: italic;
}

article p:first-of-type {
  font-size: 140%;
  font-style: italic;
}

ul li:nth-child(2n){
  color: deeppink;
}

a:visited,
a:link {
  color: dodgerblue;
}

/* It's a good practise to use focus along side hover to handle keyboard shortcuts like tab */
a:hover, a:focus {
  color: deeppink;
}

/* 
: pseudo classes help to style a particular state of an element
:: pseudo elements help to style part of an element
*/
.pseudo {
  color: black;
}

p::first-letter {
  font-size: 140%;
}

p::first-line {
  font-weight: bold;
}

::selection {
  background-color: pink;
}

p::after {
  content: '....';
  display: block;
}


