/* p {
  width: 50ch;
  text-align: left;
  text-indent: 1rem;
  /* text-decoration: line-through; 
  text-transform: capitalize;
  white-space: nowrap;
  border: 3px solid gold;
  overflow: hidden;
  text-overflow: ellipsis;
} */

/* p + p {
  width: 50ch;
  text-align: left;
  text-indent: 1rem;
  text-decoration: underline;
} */

p {
  width: 50ch;
  column-count: 2; /*multi coulmn text */
  column-gap: 2rem;
  column-rule: 3px dotted #999;
}

