<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./09-media-query-exercise.css">
  <title>Media Query Exercise</title>
</head>
<body>
  <!-- Design a responsive CSS layout that displays a three-column layout on desktop, switches to a two-column layout on tablets, and becomes a single-column layout on mobile devices. Explain how you would use media queries to achieve this responsive design, and describe the breakpoints you would choose -->
   <div class="container">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
   </div>
</body>
</html>